#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #06981caa;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #06981caa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #0e9835aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

